body		{ font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: 1.7em; }
p,
ul 			{ margin: 0 0 20px; }
h1			{ font-size: 48px; margin: 40px 0; }
.footer 	{ font-size: 14px; color:#888; text-align: center; padding: 15px 0; font-weight: bold; }
.logo 		{ margin: 25px 0; }
.black		{ background: #000; }
.face 		{ border-radius: 85px; position: absolute; width: 90px; margin-top: 5px; left: -95px; top: 43px; }
.bottom 	{ margin: 40px auto; text-align:center; }
.bottom img { max-width: 526px; width: 100%; }